# Dependencies
node_modules/
.pnp
.pnp.js
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/
do-not-check/
*.tsbuildinfo
*.pem
*.md
credentials-json.json
# Turbo cache
.turbo/

# Environment files
.env
.env.local
.env.*.local
.env.production

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
prisma/migrations/*.sql.bak

# Capacitor generated
apps/frontend/ios/
apps/frontend/android/
